<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>
      hungry:  <%= hungry %><br>
      confirmHungry:  <%= confirmHungry %><br>
      Food: <%= food %><br>
      beers: <%= beers %><br>
      Favorite color: <%= favColor %><br>
      number: <%= number %><br>
      <br>
      Hunger level: <%= hungerLevel %><br>
      Dessert: <%= dessert %><br>
      enjoy: <%= enjoy %><br>
      comments: <%= comments %><br>
      <br>
      repotype: <%= repotype %><br>
      repoperms: <%= repoperms %><br>
      email: <%= email %><br>
      password: <%= password %><br>
    </h1>
  </body>
</html>
