version: 2.1 # use CircleCI 2.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.17.0

jobs: # a collection of steps
  build-and-test:
    <<: *defaults  
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "backend/package.json" }}-{{ checksum "frontend/package.json" }}
      - run:
          name: install frontend
          working_directory: frontend
          command: npm install
      - run:
          name: build frontend
          working_directory: frontend
          command: npm run build
      - run:
          name: test frontend
          working_directory: frontend
          command: npm run test
      - run:
          name: install backend
          working_directory: backend
          command: npm install
      - run:
          name: build backend
          working_directory: backend
          command: npm run webpack-prod
      - run:
          name: test backend 
          working_directory: backend
          command: npm run test
      - save_cache:
          paths:
            - backend/node_modules
            - frontend/node_modules
          key: dependency-cache-{{ checksum "backend/package.json" }}-{{ checksum "frontend/package.json" }}
      - persist_to_workspace:
          root: ~/repo
          paths: .
      - store_artifacts: # special step to save test results as as artifact
          # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/ 
          path: test-results.xml
          prefix: tests
      - store_test_results: # for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: test-results.xml

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: compile for package
          working_directory: backend
          command: npm run webpack-prod
      - run:
          name: create .vsix
          working_directory: backend
          command: npx vsce package .
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish package
          working_directory: backend
          command: npm publish

  deploy-types:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: compile for package
          working_directory: types
          command: npm run compile
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish package
          working_directory: types
          command: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - build-and-test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build-and-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy-types:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
