html,
body {
  height: 100%;
  background-color: var(--vscode-editor-background, #1e1e1e);
  overflow: hidden !important;
}
#exploregens,
#app {
  height: 100%;
  color: var(--vscode-foreground, #cccccc); 
  background-color: var(--vscode-editor-background, #1e1e1e);
  font-family: var(--vscode-font-family, Arial, Helvetica, sans-serif);
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
}
/* Align v-card image to fit card */
.v-card .v-image__image--cover {
    background-size: contain;
}
div.v-application button.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
  background-color: var(--vscode-button-background, #0e639c);
  border-color: var(--vscode-button-background, #0e639c);
  border-radius: 0px;
}
div.v-application button.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) .v-btn__content{
  color: var(--vscode-button-foreground, #ffffff);
}

button#back {
  margin-right: 6px;
}
div.v-application .theme--light.v-btn.v-btn--disabled .v-icon {
  color: var(--vscode-button-foreground, #ffffff) !important;
}

div.v-application i.theme--light.v-icon {
  font-size: 20px;
  color: var(--vscode-foreground, #cccccc);
}

.v-application button.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):hover {
  background-color: var(--vscode-button-hoverBackground, #1177bb);
  border-color: var(--vscode-button-hoverBackground, #1177bb);
}
/* Do not accept uppercase from vuetify */
.v-btn {
  text-transform: none;
}

.v-btn--disabled {
  opacity: 0.55;
}

p.question-label{
  margin-bottom: 0.25rem ;
}

.theme--light.v-input input, .theme--light.v-input textarea,
div.v-input__slot .v-select__selection,
.v-input div label.v-label{
  color: var(--vscode-input-foreground, #cccccc) !important;
}

div.v-select-list div.v-list{
  background-color: var(--vscode-input-background, #3c3c3c);
}

/* Have to be important since vuetify itself define this color important */
div.v-select-list div.v-list div.v-list-item,
div.v-select-list div.v-list div.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled)
{
  color: var(--vscode-input-foreground, #cccccc) !important;
}

.v-list-item__title {
  color: var(--vscode-dropdown-foreground);
}

/* Styling for separator in <v-select> component */
div.v-select-list  > div.v-list-item--disabled > .v-subheader{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  color: var(--vscode-foreground, #cccccc);
}

.v-textarea.v-input:not(.v-input--is-disabled) input{
  color: var(--vscode-input-foreground, #cccccc);
}

/* Override error state colors on input components  */
div.v-messages__message {
  color: #ff5252;
}
/* Have to be important since vuetify itself define this color important */
/* prevent controls from being red when thet're in error stare */
div.v-application .error--text {
  color: var(--vscode-input-foreground, #cccccc) !important;
  caret-color: var(--vscode-input-foreground, #cccccc) !important;
}
/* Error validation text div */
form.inquirer-gui .error-validation-text{
  font-size: 12px;
  padding-left: 0px;
  color: #ff5252;
}

form.inquirer-gui i.theme--light.v-icon {
  font-size: 20px;
  color: var(--vscode-foreground, #cccccc);
}

.mandatory-asterisk{
  font-size: 14px;
  color: #ff5252;
}

.v-input--has-state.error--text .v-label{
  animation: none;
}

div.prompt-title {
  padding-left: 0px;
  padding-top: 0px;
}

form.inquirer-gui > *:not(.tiles) {
  max-width: 66%;
}

form.inquirer-gui .v-text-field fieldset {
  border-radius: 0;
  border-width: thin;
  border-style: solid;
  background-color: var(--vscode-input-background, #3c3c3c);
}

form.inquirer-gui :not(.v-input--is-focused).v-text-field fieldset {
  border-color: var(--vscode-panel-border, #cecece); 
  /* TODO: replace with vscode-settings-textInputBorder when supported by Theia */
}

form.inquirer-gui .v-input--is-focused.v-text-field fieldset {
  border-color: var(--vscode-focusBorder, rgba(0, 122, 204, 0.4));
}

form.inquirer-gui div.v-list {
  background-color: var(--vscode-input-background, #3c3c3c);
}

div[role="listbox"].theme--light.v-list {
  background-color: var(--vscode-input-background, #3c3c3c);
}

div.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--vscode-input-foreground, white) !important;
}

/* set checkbox and radio button icon color for inactive items */
form.inquirer-gui .theme--light:not(.v-item--active) .v-icon {
  color: var(--vscode-input-foreground, white);
}

form.inquirer-gui div.theme--light.v-card.v-card--outlined {
  border-width: thin;
  border-style: solid;
  border-color: var(--vscode-panel-border, #cecece);
  /* TODO: replace with vscode-settings-textInputBorder when supported by Theia */
  background-color: var(--vscode-input-background, #3c3c3c);
}

form.inquirer-gui div.theme--light.v-input input,
form.inquirer-gui div.theme--light.v-input textarea {
  color: var(--vscode-input-foreground, white);
}

form.inquirer-gui .v-card {
  background-color: var(--vscode-sideBar-background, #252526);
}
form.inquirer-gui .v-card:hover {
  border: 1px solid var(--vscode-sideBar-border, #0e639c);
  background-color: var(--vscode-list-hoverBackground,#2a2d2e);
}
form.inquirer-gui .v-card.selected {
  border: 1px solid var(--vscode-focusBorder, #0e639c);
  background-color: var(--vscode-sideBar-background,#2a2d2e) ;
}

.explore-generators-cards .v-card__title,
.explore-generators-cards .v-card__subtitle,
form.inquirer-gui .v-card__title {
  color: var(--vscode-foreground, #cccccc);
}

#prompt-info-component .v-card__subtitle {
  color: var(--vscode-editor-foreground, #32363a);
}

form.inquirer-gui .v-card > div.v-card__text {
  color: var(--vscode-editor-foreground, #32363a);
}

.v-application header.v-app-bar.v-toolbar {
  border-bottom: 1px solid var(--vscode-titleBar-border,#d9d9d9);
}

.v-application .right-col [role=separator].v-divider {
  border-top: 1px solid var(--vscode-titleBar-border,#d9d9d9)!important; /* must !important other less accurate rule catches */
}
