name: Continuous Integration
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - master*
  pull_request:
    branches:
      - master*

jobs:
  build:
    name: Full Build (node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 14.x
          - 16.x
          - 18.x
      # https://stackoverflow.com/questions/61070925/github-actions-disable-auto-cancel-when-job-fails
      fail-fast: false

    steps:
      # using `v1` because of: https://github.com/actions/checkout/issues/246
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn run ci

      - name: Report coverage
        # coverage should only be reported once per PR/push
        if: matrix.node_version == '18.x'
        # version is unpinned (should be `v1` === latest v1.x.y)
        # see: https://github.com/coverallsapp/github-action/issues/94
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
